name: Pylint

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        sudo apt-get install libssl-dev libcurl4-openssl-dev
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
        pip install pylint black
    - name: pylint and black
      run: |
        pylint pypackage.py --const-rgx='[a-z\_][a-z0-9\_]{2,30}$'
        black --check -l 111 -t py37
